<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'web/styles/collection.css' %}" type="text/css" />
</head>

<div class="header">
    <div class="header_logo">
        <h1 class="header_logo">BookLook</h1>
    </div>
</div>

<div class="content">
    <div class="items_collection">
        <div class="item">
            <div class="item_cover"></div>
            <div class="item_header">Header</div>
            <div class="item_author">Item Author</div>
            <div class="item_desc">Item short desc</div>
        </div>
        <div class="item">
            <div class="item_cover"></div>
            <div class="item_header">Header</div>
            <div class="item_author">Item Author</div>
            <div class="item_desc">Item short desc</div>
        </div>
        <div class="item">
            <div class="item_cover"></div>
            <div class="item_header">Header</div>
            <div class="item_author">Item Author</div>
            <div class="item_desc">Item short desc</div>
        </div>
        <div class="item">
            <div class="item_cover"></div>
            <div class="item_header">Header</div>
            <div class="item_author">Item Author</div>
            <div class="item_desc">Item short desc</div>
        </div>
        <div class="item">
            <div class="item_cover"></div>
            <div class="item_header">Header</div>
            <div class="item_author">Item Author</div>
            <div class="item_desc">Item short desc</div>
        </div>
        <div class="item">
            <div class="item_cover"></div>
            <div class="item_header">Header</div>
            <div class="item_author">Item Author</div>
            <div class="item_desc">Item short desc</div>
        </div>
    </div>
</div>
